@{
  Layout = "_Layout";
}

@using Factory.Models;
@model Factory.Models.Machine

<h1>Create a Machine</h1>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Title)
  @Html.TextBoxFor(model => model.Title)
  <input type="submit" value="Submit">
}

